{% extends "base.html" %}

{% block content %}
{% if agents %}
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Organization</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Special</th>
        </tr>
        {% for agent in agents %}
            <tr>
                <td><a href="/edit/agent/{{ agent.id }}/">
                    {{ agent.agent_name }}
                </a></td>
                <td>{{ agent.organization.org_name }}</td>
                <td>{{ agent.agent_phone }}</td>
                <td>{{ agent.agent_email }}</td>
                <td>{{ agent.agent_special }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if is_paginated %}
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}" 
                               aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a></li>
                {% endif %}
                {% for page in page_obj.paginator.page_range %}
                    {% if page == page_obj.number %}
                        <li class="active"><a href="?page={{ page }}">
                            {{ page }}
                        </a></li>
                    {% else %}
                        <li><a href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}" 
                               aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% else %}
    <p>No agents found.</p>
{% endif %}
{% endblock content %}
